<div class="chart-container">
  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title>Cas {{ diseaseName }} mondiaux</mat-card-title>
      <mat-card-subtitle
        >Évolution temporelle des cas confirmés, des guérisons et des
        décès</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <canvas
        baseChart
        [data]="areaChartData"
        [options]="areaChartOptions"
        [type]="'line'"
      >
      </canvas>
    </mat-card-content>
  </mat-card>
</div>
