.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title-section {
        display: flex;
        flex-direction: column;
    }

    .period-subtitle {
        display: block;
        font-size: 0.85em;
        margin-top: 4px;
        color: gray;
    }
}




